
.we-are .container,.blog .container,.contact .container,.map .container,.divider .container,
.mini-divider .container,.footer .container{
    width: 100%;
    max-width: 1132px;
}

/* WE ARE 스타일 시작 */
.we-are h2{
    width:100%;
    margin-right:0;
    margin-bottom: 20px;
    border-right:none;
    text-align: center;
}
.we-are>.container>p{
    float:none;
    width:80%;
    margin:0 auto 50px;
}
.we-are ul{
    float:none;
    width: 90%;
    margin: 0 auto;
}
.we-are li{
    width:48%;
    margin-right: 4%;
    text-align: center;
}
.we-are li:nth-child(2n){
    margin-right:0;
}
/* WE ARE 스타일 끝 */

/* Work 스타일 시작 */
.work h2{
    width: 100%;
    max-width: 1132px;
    text-align: center;
}
.work li{
    width:50%;
}
/* Work 스타일 끝 */
.mini-divider hr{
    width: 20px;
    margin: 0 auto;
    background-color: #3f51b5;
}
/* BLOG,CONTACT 스타일 시작 */
.blog h2,.contact h2{
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
    text-align: center;
}
.blog .blog-list,.contact form{
    float: none;
    width: 100%;
}
.blog li{
    width: 32%;
    margin-right: 2%;
}
.contact fieldset{
    width: 48%;
    margin-right: 4%;
}
.map iframe{
    width: 100%;
}
/* BLOG,CONTACT 스타일 끝 */